
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Construcción</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="app-container">
        <login-component></login-component>
        <formulario-component style="display:none;"></formulario-component>
    </div>

    <script src="../static/login.js"></script>
    <script src="../static/formulario.js"></script>
    <script src="../static/app.js"></script>
    </body>
</html>